<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vmp.mappers.AgentSkillFileMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.vmp.entity.po.AgentSkillFile">
        <!--skill版本ID-->
        <result column="version_id" property="versionId"/>
        <!--skill ID-->
        <result column="skill_id" property="skillId"/>
        <!--版本号-->
        <result column="version_name" property="versionName"/>
        <!--备注-->
        <result column="remark" property="remark"/>
        <!--skill文件MD5值-->
        <result column="file_md5" property="fileMd5"/>
        <!--skill文件名-->
        <result column="file_name" property="fileName"/>
        <!--skill版本状态 0可用 1禁用 2创建中 3创建失败-->
        <result column="version_status" property="versionStatus"/>
        <!--文件状态 0转码中 1转码失败 2转码成功-->
        <result column="file_status" property="fileStatus"/>
        <!--文件大小-->
        <result column="file_size" property="fileSize"/>
        <!--创建人userId-->
        <result column="create_by" property="createBy"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--更新时间-->
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        version_id
        ,skill_id,version_name,remark,file_md5,
		 file_name,version_status,file_status,file_size,create_by,
		 create_time,update_time
    </sql>

    <sql id="base_condition_filed">
        <if test="query.versionId != null and query.versionId!=''">
            and version_id = #{query.versionId}
        </if>
        <if test="query.skillId != null and query.skillId!=''">
            and skill_id = #{query.skillId}
        </if>
        <if test="query.versionName != null and query.versionName!=''">
            and version_name = #{query.versionName}
        </if>
        <if test="query.remark != null and query.remark!=''">
            and remark = #{query.remark}
        </if>
        <if test="query.fileMd5 != null and query.fileMd5!=''">
            and file_md5 = #{query.fileMd5}
        </if>
        <if test="query.fileName != null and query.fileName!=''">
            and file_name = #{query.fileName}
        </if>
        <if test="query.versionStatus != null">
            and version_status = #{query.versionStatus}
        </if>
        <if test="query.fileStatus != null">
            and file_status = #{query.fileStatus}
        </if>
        <if test="query.fileSize != null">
            and file_size = #{query.fileSize}
        </if>
        <if test="query.createBy != null and query.createBy!=''">
            and create_by = #{query.createBy}
        </if>
        <if test="query.createTime != null and query.createTime!=''">
            <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.updateTime != null and query.updateTime!=''">
            <![CDATA[ and  update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
        </if>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.versionIdFuzzy!= null  and query.versionIdFuzzy!=''">
                and version_id like concat('%', #{query.versionIdFuzzy}, '%')
            </if>
            <if test="query.skillIdFuzzy!= null  and query.skillIdFuzzy!=''">
                and skill_id like concat('%', #{query.skillIdFuzzy}, '%')
            </if>
            <if test="query.versionNameFuzzy!= null  and query.versionNameFuzzy!=''">
                and version_name like concat('%', #{query.versionNameFuzzy}, '%')
            </if>
            <if test="query.remarkFuzzy!= null  and query.remarkFuzzy!=''">
                and remark like concat('%', #{query.remarkFuzzy}, '%')
            </if>
            <if test="query.fileMd5Fuzzy!= null  and query.fileMd5Fuzzy!=''">
                and file_md5 like concat('%', #{query.fileMd5Fuzzy}, '%')
            </if>
            <if test="query.fileNameFuzzy!= null  and query.fileNameFuzzy!=''">
                and file_name like concat('%', #{query.fileNameFuzzy}, '%')
            </if>
            <if test="query.createByFuzzy!= null  and query.createByFuzzy!=''">
                and create_by like concat('%', #{query.createByFuzzy}, '%')
            </if>
            <if test="query.createTimeStart!= null and query.createTimeStart!=''">
                <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
                <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
                <![CDATA[ and  update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
                <![CDATA[ and  update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM agent_skill_file
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM agent_skill_file
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.vmp.entity.po.AgentSkillFile">
        INSERT INTO agent_skill_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.versionId != null">
                version_id,
            </if>
            <if test="bean.skillId != null">
                skill_id,
            </if>
            <if test="bean.versionName != null">
                version_name,
            </if>
            <if test="bean.remark != null">
                remark,
            </if>
            <if test="bean.fileMd5 != null">
                file_md5,
            </if>
            <if test="bean.fileName != null">
                file_name,
            </if>
            <if test="bean.versionStatus != null">
                version_status,
            </if>
            <if test="bean.fileStatus != null">
                file_status,
            </if>
            <if test="bean.fileSize != null">
                file_size,
            </if>
            <if test="bean.createBy != null">
                create_by,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.versionId!=null">
                #{bean.versionId},
            </if>
            <if test="bean.skillId!=null">
                #{bean.skillId},
            </if>
            <if test="bean.versionName!=null">
                #{bean.versionName},
            </if>
            <if test="bean.remark!=null">
                #{bean.remark},
            </if>
            <if test="bean.fileMd5!=null">
                #{bean.fileMd5},
            </if>
            <if test="bean.fileName!=null">
                #{bean.fileName},
            </if>
            <if test="bean.versionStatus!=null">
                #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus!=null">
                #{bean.fileStatus},
            </if>
            <if test="bean.fileSize!=null">
                #{bean.fileSize},
            </if>
            <if test="bean.createBy!=null">
                #{bean.createBy},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.updateTime!=null">
                #{bean.updateTime},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.vmp.entity.po.AgentSkillFile">
        INSERT INTO agent_skill_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.versionId != null">
                version_id,
            </if>
            <if test="bean.skillId != null">
                skill_id,
            </if>
            <if test="bean.versionName != null">
                version_name,
            </if>
            <if test="bean.remark != null">
                remark,
            </if>
            <if test="bean.fileMd5 != null">
                file_md5,
            </if>
            <if test="bean.fileName != null">
                file_name,
            </if>
            <if test="bean.versionStatus != null">
                version_status,
            </if>
            <if test="bean.fileStatus != null">
                file_status,
            </if>
            <if test="bean.fileSize != null">
                file_size,
            </if>
            <if test="bean.createBy != null">
                create_by,
            </if>
            <if test="bean.createTime != null">
                create_time,
            </if>
            <if test="bean.updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.versionId!=null">
                #{bean.versionId},
            </if>
            <if test="bean.skillId!=null">
                #{bean.skillId},
            </if>
            <if test="bean.versionName!=null">
                #{bean.versionName},
            </if>
            <if test="bean.remark!=null">
                #{bean.remark},
            </if>
            <if test="bean.fileMd5!=null">
                #{bean.fileMd5},
            </if>
            <if test="bean.fileName!=null">
                #{bean.fileName},
            </if>
            <if test="bean.versionStatus!=null">
                #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus!=null">
                #{bean.fileStatus},
            </if>
            <if test="bean.fileSize!=null">
                #{bean.fileSize},
            </if>
            <if test="bean.createBy!=null">
                #{bean.createBy},
            </if>
            <if test="bean.createTime!=null">
                #{bean.createTime},
            </if>
            <if test="bean.updateTime!=null">
                #{bean.updateTime},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.versionId!=null">
                version_id = VALUES(version_id),
            </if>
            <if test="bean.skillId!=null">
                skill_id = VALUES(skill_id),
            </if>
            <if test="bean.versionName!=null">
                version_name = VALUES(version_name),
            </if>
            <if test="bean.remark!=null">
                remark = VALUES(remark),
            </if>
            <if test="bean.fileMd5!=null">
                file_md5 = VALUES(file_md5),
            </if>
            <if test="bean.fileName!=null">
                file_name = VALUES(file_name),
            </if>
            <if test="bean.versionStatus!=null">
                version_status = VALUES(version_status),
            </if>
            <if test="bean.fileStatus!=null">
                file_status = VALUES(file_status),
            </if>
            <if test="bean.fileSize!=null">
                file_size = VALUES(file_size),
            </if>
            <if test="bean.createBy!=null">
                create_by = VALUES(create_by),
            </if>
            <if test="bean.createTime!=null">
                create_time = VALUES(create_time),
            </if>
            <if test="bean.updateTime!=null">
                update_time = VALUES(update_time),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.vmp.entity.po.AgentSkillFile">
        INSERT INTO agent_skill_file(
        version_id,
        skill_id,
        version_name,
        remark,
        file_md5,
        file_name,
        version_status,
        file_status,
        file_size,
        create_by,
        create_time,
        update_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.versionId},
            #{item.skillId},
            #{item.versionName},
            #{item.remark},
            #{item.fileMd5},
            #{item.fileName},
            #{item.versionStatus},
            #{item.fileStatus},
            #{item.fileSize},
            #{item.createBy},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.vmp.entity.po.AgentSkillFile">
        INSERT INTO agent_skill_file(
        version_id,
        skill_id,
        version_name,
        remark,
        file_md5,
        file_name,
        version_status,
        file_status,
        file_size,
        create_by,
        create_time,
        update_time
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.versionId},
            #{item.skillId},
            #{item.versionName},
            #{item.remark},
            #{item.fileMd5},
            #{item.fileName},
            #{item.versionStatus},
            #{item.fileStatus},
            #{item.fileSize},
            #{item.createBy},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
        on DUPLICATE key update
        version_id = VALUES(version_id),
        skill_id = VALUES(skill_id),
        version_name = VALUES(version_name),
        remark = VALUES(remark),
        file_md5 = VALUES(file_md5),
        file_name = VALUES(file_name),
        version_status = VALUES(version_status),
        file_status = VALUES(file_status),
        file_size = VALUES(file_size),
        create_by = VALUES(create_by),
        create_time = VALUES(create_time),
        update_time = VALUES(update_time)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.vmp.entity.query.AgentSkillFileQuery">
        UPDATE agent_skill_file
        <set>
            <if test="bean.versionId != null">
                version_id = #{bean.versionId},
            </if>
            <if test="bean.skillId != null">
                skill_id = #{bean.skillId},
            </if>
            <if test="bean.versionName != null">
                version_name = #{bean.versionName},
            </if>
            <if test="bean.remark != null">
                remark = #{bean.remark},
            </if>
            <if test="bean.fileMd5 != null">
                file_md5 = #{bean.fileMd5},
            </if>
            <if test="bean.fileName != null">
                file_name = #{bean.fileName},
            </if>
            <if test="bean.versionStatus != null">
                version_status = #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus != null">
                file_status = #{bean.fileStatus},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.createBy != null">
                create_by = #{bean.createBy},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete from agent_skill_file
        <include refid="query_condition"/>
    </delete>

    <!-- 根据VersionId修改-->
    <update id="updateByVersionId" parameterType="com.vmp.entity.po.AgentSkillFile">
        UPDATE agent_skill_file
        <set>
            <if test="bean.skillId != null">
                skill_id = #{bean.skillId},
            </if>
            <if test="bean.versionName != null">
                version_name = #{bean.versionName},
            </if>
            <if test="bean.remark != null">
                remark = #{bean.remark},
            </if>
            <if test="bean.fileMd5 != null">
                file_md5 = #{bean.fileMd5},
            </if>
            <if test="bean.fileName != null">
                file_name = #{bean.fileName},
            </if>
            <if test="bean.versionStatus != null">
                version_status = #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus != null">
                file_status = #{bean.fileStatus},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.createBy != null">
                create_by = #{bean.createBy},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        where version_id=#{versionId}
    </update>

    <!-- 根据VersionId删除-->
    <delete id="deleteByVersionId">
        delete
        from agent_skill_file
        where version_id = #{versionId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByVersionId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from agent_skill_file where version_id=#{versionId}
    </select>

    <!-- 根据FileName修改-->
    <update id="updateByFileName" parameterType="com.vmp.entity.po.AgentSkillFile">
        UPDATE agent_skill_file
        <set>
            <if test="bean.versionId != null">
                version_id = #{bean.versionId},
            </if>
            <if test="bean.skillId != null">
                skill_id = #{bean.skillId},
            </if>
            <if test="bean.versionName != null">
                version_name = #{bean.versionName},
            </if>
            <if test="bean.remark != null">
                remark = #{bean.remark},
            </if>
            <if test="bean.fileMd5 != null">
                file_md5 = #{bean.fileMd5},
            </if>
            <if test="bean.versionStatus != null">
                version_status = #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus != null">
                file_status = #{bean.fileStatus},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.createBy != null">
                create_by = #{bean.createBy},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        where file_name=#{fileName}
    </update>

    <!-- 根据FileName删除-->
    <delete id="deleteByFileName">
        delete
        from agent_skill_file
        where file_name = #{fileName}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByFileName" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from agent_skill_file where file_name=#{fileName}
    </select>

    <!-- 根据SkillIdAndVersionName修改-->
    <update id="updateBySkillIdAndVersionName" parameterType="com.vmp.entity.po.AgentSkillFile">
        UPDATE agent_skill_file
        <set>
            <if test="bean.versionId != null">
                version_id = #{bean.versionId},
            </if>
            <if test="bean.remark != null">
                remark = #{bean.remark},
            </if>
            <if test="bean.fileMd5 != null">
                file_md5 = #{bean.fileMd5},
            </if>
            <if test="bean.fileName != null">
                file_name = #{bean.fileName},
            </if>
            <if test="bean.versionStatus != null">
                version_status = #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus != null">
                file_status = #{bean.fileStatus},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.createBy != null">
                create_by = #{bean.createBy},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        where skill_id=#{skillId} and version_name=#{versionName}
    </update>

    <!-- 根据SkillIdAndVersionName删除-->
    <delete id="deleteBySkillIdAndVersionName">
        delete
        from agent_skill_file
        where skill_id = #{skillId}
          and version_name = #{versionName}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectBySkillIdAndVersionName" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from agent_skill_file where skill_id=#{skillId} and version_name=#{versionName}
    </select>

    <!-- 根据SkillIdAndFileMd5修改-->
    <update id="updateBySkillIdAndFileMd5" parameterType="com.vmp.entity.po.AgentSkillFile">
        UPDATE agent_skill_file
        <set>
            <if test="bean.versionId != null">
                version_id = #{bean.versionId},
            </if>
            <if test="bean.versionName != null">
                version_name = #{bean.versionName},
            </if>
            <if test="bean.remark != null">
                remark = #{bean.remark},
            </if>
            <if test="bean.fileName != null">
                file_name = #{bean.fileName},
            </if>
            <if test="bean.versionStatus != null">
                version_status = #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus != null">
                file_status = #{bean.fileStatus},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.createBy != null">
                create_by = #{bean.createBy},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        where skill_id=#{skillId} and file_md5=#{fileMd5}
    </update>

    <!-- 根据SkillIdAndFileMd5删除-->
    <delete id="deleteBySkillIdAndFileMd5">
        delete
        from agent_skill_file
        where skill_id = #{skillId}
          and file_md5 = #{fileMd5}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectBySkillIdAndFileMd5" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from agent_skill_file where skill_id=#{skillId} and file_md5=#{fileMd5}
    </select>

    <update id="updateFileStatusWithOldTransferStatus">
        update agent_skill_file
        <set>
            <if test="bean.skillId != null">
                skill_id = #{bean.skillId},
            </if>
            <if test="bean.versionName != null">
                version_name = #{bean.versionName},
            </if>
            <if test="bean.remark != null">
                remark = #{bean.remark},
            </if>
            <if test="bean.fileMd5 != null">
                file_md5 = #{bean.fileMd5},
            </if>
            <if test="bean.fileName != null">
                file_name = #{bean.fileName},
            </if>
            <if test="bean.versionStatus != null">
                version_status = #{bean.versionStatus},
            </if>
            <if test="bean.fileStatus != null">
                file_status = #{bean.fileStatus},
            </if>
            <if test="bean.fileSize != null">
                file_size = #{bean.fileSize},
            </if>
            <if test="bean.createBy != null">
                create_by = #{bean.createBy},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.updateTime != null">
                update_time = #{bean.updateTime},
            </if>
        </set>
        where version_id=#{versionId}
        and file_status=#{oldStatus}
    </update>

</mapper>